@import './themes/default.css' layer(base);
@import './themes/shadcnred.css' layer(base);
@import './themes/shadcnrose.css' layer(base);
@import './themes/shadcnorange.css' layer(base);
@import './themes/shadcngreen.css' layer(base);
@import './themes/shadcnblue.css' layer(base);
@import './themes/shadcnyellow.css' layer(base);
@import './themes/shadcnviolet.css' layer(base);
@import './themes/nord.css' layer(base);
@import './themes/vintageretro.css' layer(base);
@import './themes/synthwave.css' layer(base);
@import './themes/quantumrose.css' layer(base);
@import './themes/graphite.css' layer(base);
@import './themes/perpetuity.css' layer(base);
@import './themes/nature.css' layer(base);
@import './themes/sunsethorizon.css' layer(base);
@import './themes/amethysthaze.css' layer(base);

@import 'tailwindcss';

@theme {
  --font-family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  :root 
  {
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--secondary);
    --sidebar-accent-foreground: var(--secondary-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: hsl(var(--muted));
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
    border-radius: 20px;
    border: 2px solid hsl(var(--muted));
  }
}

@layer utilities {
  html.sauce,
  body.sauce,
  body > div.sauce {
    width: 100%;
    height: 100%;
  }

  body.sauce {
    pointer-events: all !important;
  }
}

@layer utilities {
  .group.toast {
    border-width: 2px;
    border-color: hsl(var(--secondary) / var(--tw-border-opacity, 1));
    border-style: solid;
  }

  .widthhack {
    width: 36px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}